{% extends 'base.html.twig' %}

{% block title %}
	InvesTo
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

	<article class=" flex justify-center items-center">

		<h1>Aqui vai ficar os investimentos</h1>

	</article>


{% endblock %}
