{% extends 'base.html.twig' %}

{% block title %} Hello HomeController! {% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

	<article class=" flex justify-center items-center h-[100vh]">

		<form action="" method="post">
			<h1>Faça um investimento</h1>
			<input type="number" placeholder="valor que vai ser aplicado">
		</form>

		//tentar fazer um chart js abaixo com gráfico e tals

	</article>


{% endblock %}
